.date-card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(26, 24, 24);
    color: white;
    width: 30px;
    gap: 1px;
    padding: 3px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    align-items: center;
    font-family: sans-serif;
}

.month{
    position: relative;
    font-size: 0.35rem;
    font-weight: bold;
}
.year{
    position: relative;
    font-size: 0.35rem;
}
.date{
    position: relative;
    font-size: 0.85rem;
    font-weight: bold;
}